

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form method="POST" action="/posts">
      {{> posts-form}}
      <!-- BUTTON -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Save post</button>
      </div>
    </form>
  </div>
</div>





















<!-- <form method="POST" action="/posts">
    <feildset>
        <legend>New Post</legend>

        <p>
            <label for="title">Title</label><br>
            <input type="text" name="title" />
        </p>
        <p>
            <label for ="subjectTitle">Subject Title</label><br>
            <input type="text" name="subjectTitle" />
        </p>
    </fieldset>

    <p>
        <button type="submit">Save Post</button>
    </p>

</form> -->
